@charset "UTF-8";

:root {
    --basic-font-weight: 400;
    --title-font-weight: 600;
    --primary-color: #292d32;
    --secondary-color: #ffffff;
}

/* ----------- Цвета ----------- */
$Black_00: #222222;
$Black_01: #282829;
$Blue_00: #38535D;
$Grey_00: #d6d6d6;
$Grey_01: #292d32;
$Grey_02: #38393b39;
$Orange_00: #d5c9be;
$Orange_01: #d78131;
$Orange_02: #975b23;
$White_00: #ffffff;

/* ----------- Стили шрифтов ----------- */

// Подключаем шрифты разных форматов для лучшей поддержки в разных браузерах
@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial_Regular.eot');
    src: local('Arial Regular'), local('Arial_Regular'),
        url('../fonts/Arial_Regular.woff2') format('woff2'),
        url('../fonts/Arial_Regular.woff') format('woff'),
        url('../fonts/Arial_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial_Bold.eot');
    src: local('Arial Bold'), local('Arial_Bold'),
        url('../fonts/Arial_Bold.woff2') format('woff2'),
        url('../fonts/Arial_Bold.woff') format('woff'),
        url('../fonts/Arial_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.eot');
    src: local('Prata Regular'), local('Prata_Regular'),
        url('../fonts/Prata_Regular.woff2') format('woff2'),
        url('../fonts/Prata_Regular.woff') format('woff'),
        url('../fonts/Prata_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Миксины на шрифт Arial из макета: */

/* Arial- заголовки */
/* служебный миксин */
@mixin title_Arial_regular_L{
    font-family: 'Arial';
    font-weight: var(--title-font-weight);
    color: var(--primary-color);
}

@mixin arial_regular_L{
    @include title_Arial_regular_L;
    font-size: 1.5rem;
    line-height: 150%;
}

/* служебный миксин */
@mixin title_Arial_regular_S{
    font-family: 'Arial';
    font-weight: var(--basic-font-weight);
    color: var(--primary-color);
}

@mixin arial_regular_S{
    @include title_Arial_regular_S;
    font-size: 1.2rem;
    line-height: 133%;
}

/* Arial - италик */
/* служебный миксин */
@mixin text_Arial_italic{
    font-family: 'Arial';
    font-weight: var(--basic-font-weight);
    color: var(--primary-color);
    font-style: italic;
}

@mixin arial_italic{
    @include text_Arial_italic;
    font-size: 0.8rem;
    line-height: 130%;
    text-transform: uppercase;
}

/* Миксины на шрифт Prata из макета: */

/* Prata - заголовки */
/* служебный миксин */
@mixin title_Prata_regular{
    font-family: 'Prata';
    font-weight: var(--title-font-weight);
    color: var(--primary-color);
}

@mixin prata_regular_L{
    @include title_Prata_regular;
    font-size: 1.3rem;
    line-height: 200%;
    text-transform: uppercase;
}

@mixin prata_regular_S{
    @include title_Prata_regular;
    font-size: 1.3rem;
    line-height: 133%;
}

/* ----------- Стили кнопок и ссылок ----------- */

/* разные настройки размеров кнопок */
@mixin btn_order {
    box-sizing: border-box;
    height: 3.8rem;
    width: fit-content;
    padding: 1rem;
    
    border-radius: 0.2rem;
    transition: 0.2s ease-out;
    @include arial_regular_S;
    font-weight: bold;

    background-color: $Grey_02;
    color: $Black_01;
    cursor: pointer;

    &:hover{
        background-color: $Grey_01;
        color: $White_00;

        transition: 0.2s ease-out;
    }

    &:active{
        background-color: $Orange_02;
    }
}

@mixin btn_header {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 2.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;

    @include arial_italic;
    border-radius: 1.5rem;
    cursor: pointer;

    &:hover{
        background-color: $Orange_01;
        border: $Orange_00;
        color: $White_00;

        transition: 0.2s ease-out;
    }

    &:active{
        background-color: $Orange_02;
    }
}


