@media screen and (min-width: 1440px) and (max-width: 2560px){

}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .main{
        .main__block1{
            .main__block1-left{
                width: 100%;
                padding-left: 0;

                .main__block1-left-title{
                    text-align: center;
                }

                .main__block1-left-inf{
                    gap: 1.5rem;
                    width: 100%;

                    .inf-title{
                        text-align: center;
                    }

                    .inf-text{
                        .inf-text-argument{
                            gap: 1.5rem;
                        }
                    }

                    .inf-btn{
                        margin: 0 auto;
                    }
                }
            }
    
            .main__block1-right{
                display: none;
            }
        }
        

        .main__block2{
            .main__block2-leftImg{
                height: 70%;
                margin-top: 5rem;
            }

            .main__block2-central{
                .main__block2-central-service{
                    height: 23%;

                    img{
                        height: 35%;
                    }
                }

                .main__block2-central-service_last{
                    .service_last-text{

                        p{
                            padding: 0 0 0 2rem;
                        }
                    }
    
                    img{
                        height: 40%;
                    }
                }
    
                .central_service-text{
                    ul,p{
                        padding: 0.5rem 0 0 2.5rem;
                        font-size: 0.9rem;
                    }
    
                    .service{
                        font-size: 1.1rem;
                        padding-left: 0;
                    }
                }
            }
    
            .main__block2-rightImg{
                height: 70%;
                margin-top: 5rem;
                width: 32%;
            }
        }

        .main__block3{
            .main__block3-container{
                .main__block3-left{
                    width: 100%;
                }

                .main__block3-right{
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .main{
        .main__block1{
            .main__block1-left{
                width: 100%;
                padding-left: 0;

                .main__block1-left-title{
                    text-align: center;
                }

                .main__block1-left-inf{
                    gap: 1.5rem;
                    width: 100%;

                    .inf-title{
                        text-align: center;
                    }

                    .inf-text{
                        .inf-text-argument{
                            gap: 1.5rem;
                        }
                    }

                    .inf-btn{
                        margin: 0 auto;
                    }
                }
            }
    
            .main__block1-right{
                display: none;
            }
        }
        

        .main__block2{
            .main__block2-leftImg{
                display: none;
            }

            .main__block2-central{
                width: 100%;

                .main__block2-central-service_last{
                    .service_last-text{
                        p{
                            padding-top: 0;
                            margin-right: 5rem;
                        }
                    }
    
                    img{
                        height: 37%;
                    }
                }
            }
    
            .main__block2-rightImg{
                display: none;
            }
        }

        .main__block3{
            .main__block3-container{
                .main__block3-left{
                    width: 100%;
                }

                .main__block3-right{
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .main{
        .main__block1{
            .main__block1-left{
                width: 100%;
                padding-left: 0;

                .main__block1-left-title{
                    text-align: center;
                }

                .main__block1-left-inf{
                    width: 100%;
                    gap: 2rem;

                    .inf-title{
                        text-align: center;
                    }

                    .inf-btn{
                        margin: 0 auto;
                    }
                }
            }

            .main__block1-right{
                display: none;
            }
        }
        

        .main__block2{

            .main__block2-leftImg{
                display: none;
            }

            .main__block2-central{
                width: 100%;
                
                .main__block2-central-service{
                    img{
                        padding-top: 1.3rem;
                        width: 20%;
                        height: 50%;
                    }
                }

                .main__block2-central-service_last{
                    .service_last-text{

                        .service{
                            width: 37%;
                        }
                    }

                    img{
                        height: 45%;
                    }
                }

                .central_service-text{
                    ul,p{
                        padding: 0 0 0 2.5rem;
                    }

                    .service{
                        font-size: 1.2rem;
                        padding-top: 0.2rem;
                        color: $White_00;
                    }
                }
            }

            .main__block2-rightImg{
                display: none;
            }
        }

        .main__block3{
            .main__block3-container{
                .main__block3-left{
                    width: 100%;

                    .main__block3-left-text{
                        font-size: 1.3rem;
                    }

                    .main__block3-left-form{
                        gap: 1.5rem;

                        .form__input{
                            height: 3.5rem;
                        }
                    }

                    .main__block3-left-btn{
                        margin-bottom: 1rem;
                    }
    
                }
    
                .main__block3-right{
                    display: none
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 424px){
    .main{
        gap: 4.5rem;

        .main__block1{
            width: 100%;

            .main__block1-left{
                justify-content: space-between;
                width: 100%;
                padding: 0;

                .main__block1-left-title{
                    margin-top: 4rem;
                    text-align: center;
                }

                .main__block1-left-inf{
                    height: 60%;
    
                    .inf-title{
                        text-align: center;
                    }
    
                    .inf-text{
                        .inf-text-argument{
                            gap: 1.5rem;
    
                            img{
                                margin: 1rem 0 0 1rem;
                                height: 3rem;
                            }
                        }
                    }
    
                    .inf-btn{
                        margin: 0 auto;
                    }
                }
            }
    
            .main__block1-right{
                display: none;
            }
        }
        

        .main__block2{
            .main__block2-leftImg{
                display: none;
            }

            .main__block2-central{
                height: 100%;
                width: 100%;
                
                .main__block2-central-service{
                    height: 22%;

                    img{
                        padding-top: 1.3rem;
                        width: 20%;
                        height: 30%;
                    }
                }
    
                .main__block2-central-service_last{
                    height: 34%;
                    width: 100%;

                    .service_last-text{
                        .service{
                            width: 40%;

                        }

                        p{
                            padding-top: 0;
                            margin-right: 0.5rem;
                        }
                    }

                    img{
                        padding: 1.3rem 0 0 0.7rem;
                        width: 16%;
                        height: 32%;
                    }

                    .service_last-btn{
                        margin-top: 1rem;
                    }
                }
    
                .central_service-text{
                    ul,p{
                        padding: 0.2rem 0 0 2.5rem;
                        font-size: 0.8rem;
                    }
    
                    .service{
                        padding-left: 0.5rem;
                        text-align: center;
                        width: 30%;
                    }
                }
            }

            .main__block2-rightImg{
                display: none;
            }
        }

        .main__block3{
            .main__block3-container{
                .main__block3-left{
                    width: 100%;

                    .main__block3-left-text{
                        font-size: 1.1rem;
                    }

                    .main__block3-left-form{
                        gap: 1.5rem;

                        .form__input{
                            height: 3.5rem;
                        }

                        .form__checkbox{
                            

                            label{
                                font-size: 0.8rem;
                            }
                        }
                    }

                    .main__block3-left-btn{
                        margin-bottom: 1rem;
                    }
    
                }
    
                .main__block3-right{
                    display: none
                }
            }
        }
    }
}